body {
	margin: 0;
	background-color: #FBFBFB;
}


nav {
	display: flex;
	flex-direction: row;	
	height: 80px;
	align-items: center;
	width: 100%;
}

#project-name {
	font-family: cursive;
	font-size: 30px;
	margin: 20px;
	width: 20%;
	color: black;
	text-decoration: none;
}


#search {
	width: 400px;
	border: none;
	padding: 10px 20px;
	border-radius: 10px;
	border: 1px solid #D9DFC6;
	margin-left: 120px;
	font-family: sans-serif;
	font-size: 18px;
}

input:focus {
	outline: none;
}

.container {
	display: grid;
	gap: 10px 10px;
	grid-template-columns: auto auto auto;
	justify-content: center;
	margin-bottom: 50px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;	
	border: 1px solid lightgray;
	width: 400px;
	height: 350px;
	border-radius: 5px;
}

.btn-container {
	width: 100%;
	height: 70px;
	display: flex;
	flex-direction: row-reverse;
}

.btn {
	margin: 10px 10px;
	width: 50px;
	height: 50px;
	border: 1px solid #D9DFC6;
	border-radius: 50%;
	text-transform: uppercase;
	font-family: sans-serif;
	background-color: #FDFAF6;
       	cursor: pointer;	
}

.card > a {
  width: 400px;
  height: 280px;
  overflow: hidden;
  display: block;
  background-color: #D3CA79;
}

.card > a > img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* or "contain" if you want to see the full image */
}


.btn > i {
	font-size: 26px;
	color: #222222;
}

.btn:hover {
	border-radius: 50%;
	background-color: #D9DFC6;
}


#image-container {
	margin-left: 180px;	
	padding-bottom: 50px;
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 60%;
	align-items: center;
	background-color: #D3CA79;
	width: 70%;
}

#image-container > img {
	width: 50%;
	height: 100%;
	border-radius: 10px;
}

#image-container > #pic-data {
	margin: 20px;
	padding: 20px;
	font-family: sans-serif;
}

#image-container > #pic-data > .id-label {
	display: flex;
	flex-direction: row;
	gap: 100px;
	padding: 5px 20px;
	/*border-bottom: 1px solid black;*/
	background-color: #ECEFCA;
	margin: 5px;
}

#img-id {
	margin-left: 120px;
	background-color: #ECEFCA;
}

#img-slug {
	margin-left: 100px;
	background-color: #ECEFCA;
}

#created-at {
	margin-left: 55px;
	background-color: #ECEFCA;
}

#updated-at {
	margin-left: 50px;
	background-color: #ECEFCA;
}

#description {
	margin-left: 50px;
	background-color: #ECEFCA;
}

#height {
	margin-left: 85px;
	background-color: #ECEFCA;
}

#width {
	margin-left: 90px;
	background-color: #ECEFCA;
}

